<footer class="page-footer text-center wow fadeIn">
    <div class="container-fluid py-4 white">
        <div class="container">
            <div class="row wow fadeIn">
                <div class="col-md-4">
                    <a>
                        <img src="{{ '/assets/img/svg/byggmester.svg' | relative_url }}" style="height: 128px; margin: 10px 10px 10px 10px;"/>
                    </a>
                </div>
                <div class="col-md-4">
                    <a>
                        <img src="{{ 'assets/img/svg/sg_gold.svg' | relative_url }}" style="height: 128px; margin: 10px 10px 10px 10px;"/>
                    </a>
                </div>
				<div class="col-md-4">
                    <a>
                        <img src="{{ 'assets/img/svg/vi-har-laerling.svg' | relative_url }}" style="height: 128px; margin: 10px 10px 10px 10px;"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright py-3 mdb-color darken-4 font-small text-white">
        &copy; 20{{ site.time | date: '%y' }} {{ site.legalName }} | Org.nr {{ site.orgNr }}
    </div>
</footer>
