    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="#page-top">
					<img src="assets/img/svg/disen_bygg.svg" height="48px"/>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto">
						<li class="nav-item">
                            <a class="nav-link waves-effect" href="#about">Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#projects">Prosjekter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#contact">Kontakt</a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

    </header>
    <!--Main Navigation-->