    <header>
        <nav class="navbar navbar-static-top navbar-expand-lg navbar-light disen-bygg-color scrolling-navbar">
            <div class="container">
				<img src="{{ 'assets/img/svg/disen-bygg.svg' | relative_url }}" style="height: 48px;"/>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
						<li class="nav-item">
                            <a class="nav-link waves-effect" href="{{ '/#about' | relative_url }}">Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="{{ '/#projects' | relative_url }}">Prosjekter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="{{ '/#contact' | relative_url }}">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>