    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark white orange darken-4 scrolling-navbar">
            <div class="container">
                <a class="navbar-brand waves-effect" href="#page-top">
                    <i class="fac fa-disen-bygg" style="height: 48px"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
						<li class="nav-item">
                            <a class="nav-link waves-effect" href="#about">Om oss</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#projects">Prosjekter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="#contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>