/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html, body, .view {
    height: 100%;
}

/* Full Page Carousel itself*/
.carousel {
	height: 100%;
}
.carousel .carousel-inner {
    height: 100%; 
}
.carousel .carousel-inner .carousel-item, .carousel .carousel-inner .active {
	height: 100%; 
}

a.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.disen-bygg-color {
	background-color: #b5b0ad !important;
}

.disen-bygg-color.inverted {
	background-color: #4a4f52 !important;
}

footer.page-footer .footer-copyright.footer-black {
	background-color: #000 !important;
}
