<!DOCTYPE html>
<html lang="no">
    {% include head.html %}
    <body id="page-top" style="background-color: #eee;">
    {% include nav.html %}
	<main>
		<div class="container-fluid py-4">
			<div class="row" style="margin-top: -100px;">
				<div class="col-md-12">
					<div class="card pb-5 mx-md-3">
						<div class="card-body">
							<div class="container">
								<h1 class="text-center h1 pt-4 mb-3">
									<strong>Om oss</strong>
								</h1>
								<div class="row pt-5">
									<p class="text-center">{{ content }}</p>
								</div>
							</div>
						</div>
					</div>
				 </div>
			</div>
		</div>
    </main>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
