<!DOCTYPE html>
<html lang="no">
    {% include head.html %}
    <body id="page-top">
    {% include nav.html %}
    <div class="container-fluid mdb-color darken-4 py-4 text-white">
        <div class="container">
            <section>
                    <div class="row wow fadeIn">
                        <div class="col-lg-12">
                            <h2 class="h2 text-center">{{ page.title }}</h2>
                        </div>
                    </div>
            </section>
        </div>
    </div>
    <div class="container-fluid py-4 white">
        <div class="container">
            <section>
                    <div class="row wow fadeIn">
                        {% for img in page.images %}
                        <div class="col-md-6 py-4">
                            <div class="card">
                                <div class="view overlay">
									<picture>
										<source class="card-img-top" media="(min-width: 992px)" srcset="{{ img.lg | relative_url }}">
										<source class="card-img-top" media="(min-width: 768px)" srcset="{{ img.md | relative_url }}">
										<source class="card-img-top" media="(min-width: 576px)" srcset="{{ img.sm | relative_url }}">
										<source class="card-img-top" media="(max-width: 575px)" srcset="{{ img.sm | relative_url }}">
										<img class="card-img-top" src="{{ img.lg | relative_url }}">
									</picture>
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
								{% if img.description %}
								<div class="card-body text-center">
                                    <p class="card-text">{{ img.description }}</p>
                                </div>
								{% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </section>
        </div>
    </div>
    <div class="container-fluid py-4 white">
        <div class="container">
            <section>
                {{ content }}
            </section>
        </div>
    </div>
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
