<!DOCTYPE html>
<html lang="no">
    {% include head.html %}
    <body id="page-top" style="background-color: #eee;">
    {% include nav.html %}
	<main>
		<div class="container-fluid py-4">
			<div class="row" style="margin-top: -100px;">
				<div class="col-md-12">
					<div class="card pb-5 mx-md-3">
						<div class="card-body">
							<div class="container">
								<h1 class="text-center h1 pt-4 mb-3">
									<strong>Prosjekter</strong>
								</h1>
								<div class="row pt-5">
									{% for post in site.posts %}
									<div class="col-md-6 py-4">
										<div class="card">
											<div class="view overlay">
												<picture>
													<source class="card-img-top" media="(min-width: 992px)" srcset="{{ post.cardImg.lg | relative_url }}">
													<source class="card-img-top" media="(min-width: 768px)" srcset="{{ post.cardImg.md | relative_url }}">
													<source class="card-img-top" media="(min-width: 576px)" srcset="{{ post.cardImg.sm | relative_url }}">
													<source class="card-img-top" media="(max-width: 575px)" srcset="{{ post.cardImg.sm | relative_url }}">
													<img class="card-img-top" src="{{ post.cardImg.lg | relative_url }}">
												</picture>
												<a href="{{ post.url }}">
													<div class="mask rgba-white-slight"></div>
												</a>
											</div>
											<div class="card-body text-center">
												<h4 class="card-title"><strong>{{ post.title }}</strong></h4>
												<p class="card-text">{{ post.description }}</p>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				 </div>
			</div>
		</div>
    </main>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
